@mixin border-1px($pos: false, $color: #ddd, $radius: false) {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    @if $radius {
      border-radius: $radius;
    }
    @if $pos {
      @each $item in $pos {
        border-#{$item}: 1px solid $color;
        #{$item}: 0;
      }
    } @else {
      border: 1px solid $color;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      transform: scaleY(0.7);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      transform: scaleY(0.5);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      transform: scaleY(0.333333);
    }
  }
}

